@using ITI_Ecommerce.Constants
@using ITI_Ecommerce.ViewModels
@model CheckoutDisplayModel
@{
    ViewData["Title"] = "Checkout";
}
<style>

    .card {
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .card-body {
        padding: 10px;
    }

    /* Compact Book Info */
    .order-item-img img {
        object-fit: cover;
        border-radius: 8px;
        width: 50px; /* Reduce image size */
        height: 50px;
    }

    .order-item-details {
        font-size: 14px; /* Reduce font size for compact view */
    }

    /* Book Title */
    .order-item-title {
        font-size: 16px; /* Reduce title font size */
        font-weight: bold;
        margin: 0;
    }

    /* Author Name */
    .order-item-author {
        font-size: 12px; /* Reduce font size */
        color: #6c757d;
        margin: 0;
    }

    /* Genre */
    .order-item-genre {
        font-size: 12px; /* Smaller font size */
        color: #495057;
        margin-top: 3px;
    }

    .order-total{
        font-size: 13px;
        white-space: nowrap;
    }

    /* Price and Quantity */
    .order-item-price p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    /* Action Buttons */
    .btn-outline-info, .btn-outline-danger {
        font-size: 12px;
        padding: 5px 10px; /* Make buttons smaller */
        width: 30px; /* Adjust width */
    }

    /* Custom Borders */
    hr {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Hover Effect for Book Image */
    .order-item-img img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    /* Button Adjustments */
    .btn-outline-info, .btn-outline-danger {
        font-size: 12px;
        width: 25%;
    }

    /* Card Hover Effect */
    .card:hover {
        transform: translateY(-3px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }


    .checkout-card {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        font-size: 16px;
    }

    .formCard{
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        margin-top: 0;
        text-align: center;
        font-size: 20px;
    }

        .checkout-card h2 {
            margin-top: 0;
            text-align: center;
            font-size: 20px;
        }

    .item, .subtotal, .tax, .total {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .subtotal, .tax, .total {
        font-weight: bold;
    }

    .checkout-btn {
        display: inline-block; /* To make it behave like a button */
        width: 100%;
        padding: 10px;
        background-color: #2c3e50;
        color: white;
        text-align: center; /* Ensures the text is centered */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none; /* Removes underline from the link */
    }

        .checkout-btn:hover {
            background-color: #45a049;
        }

    .styled-label {
        font-size: 16px;
        font-weight: bold;
        color: #2c3e50;
        display: block;
        text-align:left;
        height:30px;
    }



</style>


<form asp-action="Checkout" >
    <div class="row">
        <div class="col-7 m-5 p-4 formCard">
            <div class="mt-2">
            
                    <div class="row mb-3">
                        <div class="col-md-3">
                        <label asp-for="@Model.CheckoutModel.Name" class="styled-label">Name*</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control p-2" asp-for="@Model.CheckoutModel.Name" placeholder="Enter your full name" style="height: 38px; font-size: 14px;" />
                            <span asp-validation-for="@Model.CheckoutModel.Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                        <label asp-for="@Model.CheckoutModel.Email" class="styled-label">Email*</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control p-2" asp-for="@Model.CheckoutModel.Email" placeholder="Enter your email" style="height: 38px; font-size: 14px;" />
                            <span asp-validation-for="@Model.CheckoutModel.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                        <label asp-for="@Model.CheckoutModel.MobileNumber" class="styled-label">Mobile Number*</label>
                        </div>
                        <div class="col-md-9">
                            <input type="tel" class="form-control p-2" asp-for="@Model.CheckoutModel.MobileNumber" placeholder="Enter your mobile number" style="height: 38px; font-size: 14px;" />
                            <span asp-validation-for="@Model.CheckoutModel.MobileNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                        <label asp-for="@Model.CheckoutModel.Address" class="styled-label">Address*</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control p-2" asp-for="@Model.CheckoutModel.Address" rows="3" placeholder="Enter your address" style="height: 100px; font-size: 14px;"></textarea>
                            <span asp-validation-for="@Model.CheckoutModel.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                        <label asp-for="@Model.CheckoutModel.PaymentMethod" class="styled-label">Payment Method*</label>
                        </div>
                        <div class="col-md-9">
                            <select asp-for="@Model.CheckoutModel.PaymentMethod" class="form-control p-2" style="height: 38px; font-size: 14px;">
                                <option value="">Select Payment Method</option>
                                @foreach (var method in Enum.GetValues(typeof(PaymentMethods)))
                                {
                                    <option value="@method.ToString()">@method.ToString()</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.CheckoutModel.PaymentMethod" class="text-danger"></span>
                        </div>
                    </div>
            
            </div>
        </div>
        <div class="col-4">
            <div style="display:flex;align-items:center;height:600px;justify-content:center;">
                <div class="checkout-card">
                    <h2>Order Summary</h2>

                    <div style="width: 100%; margin:auto">
                        @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
                        {
                            <div class="row">
                                @foreach (var item in Model.CartDetails)
                                {
                                    <div class="col-12">
                                        <!-- Card for each cart item -->
                                        <div class="card shadow-sm border-light rounded-lg">
                                            <div class="card-body">
                                                <!-- Book Info -->
                                                <div class="row align-items-center">
                                                    <div class="order-item-img col-3">
                                                        @if (string.IsNullOrEmpty(item.Book.Image))
                                                        {
                                                            <img src="/images/noImage.png" class="img-fluid" />
                                                        }
                                                        else
                                                        {
                                                            <img src="/images/@item.Book.Image" class="img-fluid" />
                                                        }
                                                    </div>
                                                    <div class="order-item-details col-6">
                                                        <h5 class="order-item-title">@item.Book.BookName</h5>
                                                        <p class="order-item-genre">@item.Book.Category.CategoryName</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <span class="order-total">Quantity: @item.Quantity</span>
                                                        <span class="order-total">Total: @(@item.Book.Price * item.Quantity)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <h5 class="text-center text-muted">Cart is empty</h5>
                        }
                    </div>

                    <div class="subtotal">
                        <p>Subtotal:</p>
                        <span>$40.00</span>
                    </div>

                    <div class="tax">
                        <p>Tax (10%):</p>
                        <span>$4.00</span>
                    </div>

                    <div class="total">
                        <p>Total:</p>
                        <span>$@Model?.CartDetails?.Select(item => item.Book.Price * item.Quantity).Sum()</span>
                    </div>
                    <button type="submit" class="checkout-btn">Confirm Checkout</button>
                </div>
            </div>
        </div>
    </div>
</form>

